@charset "utf-8";

/* 1. 공용 선택자 or 전체 선택자*/
/* 스타일 초기화 ==> CSS RESET */
* {
    margin: 0;
    padding: 0
}
/* 2.클래스 선택자 - 문서 내에서 여러번 반복, 재사용*/
.avatar-img {
    /* 바깥-여백: 상하좌우 65픽셀씩 */
    margin: 65px
}
.desc {
    /* 글자색상: 뭐뭐~ */
    color: #d7d4d4;
}
.bg-mattgreen {
background-color: #6E965D;
padding: 20px 0; /* 안-여백: 상하20픽셀, 좌우0 */
margin: 20px 0
}
.rounded-bar {
    background-color: #6E965D; 
    padding: 15px 0 
    border-radius: 30px 
}


/* 5. 후손 선택자 */
.bg-mattgreen h2 {
    color: white
}

/* 3.태그 선택자 */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px
}

 h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px 
}
p {
    margin: 20px;
    text-align: center
}
/* 4.아이디 선택자  - 문서 내에서 한번만 | 자주사용x */
#text-white {
    color: white;
}
#light {
    color: white;
}