@charset "utf-8";

/*1. 공용 선책자 or 전체 선택자*/
/*스차일 초기화 ==> ESS RESET */
/* 선택자 문법(Selector)
클래스 선택자
.avatar-img{ 속성: 값; ...}
*/


.avatar-img{
    /* 배경-색상:핑크*/
    margin:65px
}
/*3.태그 선택자 */
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px
}

 h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px 
}
p {
    margin: 20px;
    text-align: center
}
/* 4.아이디 선택자  - 문서 내에서 여러번 반복, 재사용*/
#light {
    color: #e0bebe
}